langchain
langchain-core 
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
fastapi 
uvicorn
tesseract-ocr 
tesseract-ocr-nep 
poppler-utils
langdetect
deep_translator